$cActhent: #FF6969;
$cDisable: #FC7676;
$cWhite: #FFFFFF;
$cBlack: #000;
$cDark: #424242;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

.container__pop-up {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

