@import './../../../styles/style.scss';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container__buttons {
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin: 10px;
}

.button {
    display: inline-block;
    width: 219px;
    height: 40px;
    color: var(--white);
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    background: var(--acthent);
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--disable);
    }
}
.button_disable {
    cursor: default;
    background: var(--disable);
}


