.product {
    width: 353px;
    height: 418px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;

    .product__picture {
        width: 353px;
        height:246px;
        border-radius: 0 0 12px 12px;
    }
}

.product__wrap-text-button {
    margin-left: 30px;
    margin-top: 20px;
}

.product__wrap-text {
    margin-bottom: 34px;
    .product___text1 {
        font-size: 18px;
        line-height: 21px;
        color: var(--dark);
        margin-top: 20px;
    }
    .product__text2 {
        font-size: 18px;
        line-height: 21px;
        color: var(--dark);
        font-weight: 700;
        margin-top: 10px;
    }
}


