@import './../../../styles/style.scss';

.container__inputs {
    margin: 15px;
    display: flex;
    width: 600px;
    justify-content: space-between;
}
.input {
    display: flex;
    flex-direction: column;
    .input__name {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 5px;
    }
    .input__enter {
        border: 1px solid var(--black);
        box-sizing: border-box;
        border-radius: 5px;
        width: 275px;
        height: 41px;
    }
    .input__enter_error {
        border: 1px solid var(--acthent);
    }
    .input__text-error {
        font-size: 14px;
        line-height: 16px;
        color: var(--acthent);
    }
}

