$cActhent: #FF6969;
$cDisable: #FC7676;
$cWhite: #FFFFFF;
$cBlack: #000;
$cDark: #424242;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.pop-up__wrap {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}
.pop-up__wrap_close {
    display: none;
}


.pop-up {
    box-sizing: border-box;
    width: 633px;
    // position: absolute;
    // top: 0;
    // right: 0;
    //height: 1045px;
    min-height: 100vh;
    border: 1px solid $cBlack;
    background: $cWhite;
}

.pop-up__header {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 0;

    .pop-up__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .pop-up__picture {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}